<div class="container">
	<div class="title">
		Login
	</div>

	<%= form_for(:session, url: login_path) do |f| %>
		<%= f.label :email, class: 'form-lebel' %>
		<%= f.email_field :email, class: 'form-input' %>

		<%= f.label :password, class: 'form-label' %>
		<%= f.password_field :password, class: 'form-input' %>
		
		<%= f.label :remember_me do %>
			<%= f.check_box :remember_me, class: 'checkbox' %>
			<span class="checkbox checkbox-label">Remember me</span>
		<% end %>

		<%= f.submit 'Login', class: 'form-submit-button' %>
	<% end %>
</div>