<div class="edit-participant-container" id="edit-participant-container">
	<div class="edit-participant-panel">
		<%= button_tag(class: 'close-btn', id: 'close-btn') do %>
			<i class="glyphicon glyphicon-remove"></i>
		<% end %>

		<div class="edit-participant-title">
			Editting your profile...
		</div>
		
		<div class="edit-participant-form-group">
			<%= form_for @participant, class: 'edit-participant-form-group' do |f| %>
				<div class="edit-participant-row", id="edit-participant-name-row">
					<%= f.label :name, class: 'edit-participant-label' %>
					<%= f.text_field :name, class: 'edit-participant-input', id: 'edit-participant-name' %>
				</div>
				
				<div class="edit-participant-row", id="edit-participant-email-row">
					<%= f.label :email, class: 'edit-participant-label' %>
					<%= f.text_field :email, class: 'edit-participant-input', id: 'edit-participant-email' %>
				</div>

				<div class="edit-participant-row", id="edit-participant-contact-row">
					<%= f.label 'Phone Number', class: 'edit-participant-label' %>
					<%= f.text_field :phone_num, class: 'edit-participant-input', id: 'edit-participant-contact' %>
				</div>
				
				<%= f.submit 'Update', class: 'c-btn update-btn' %>
			<% end %>
		</div>
	</div>
</div>