<div class="body-container">
	<div class="all-data">
		<div class="all-participant panel-shadow">
			<div class="all-participant-title-row">
				<div class="all-participant-title">
					Existing Participants
				</div>
				<div class="back-main-page">
					<%= link_to "Back", proposals_path, class: 'back-main-page-link' %>
				</div>

				<div class="new-participant">
					<%= link_to "New Participant", new_participant_path, method: :get, remote: true, class: 'new-proposal-link' %>
				</div>
			</div>

			<div class="all-participant-row all-participant-header">
				<div class="all-participant-count all-participant-label">
					No. 
				</div>
				<div class="all-participant-name all-participant-label">
					Name
				</div>
				<div class="all-participant-email all-participant-label">
					Email
				</div>
				<div class="all-participant-contact all-participant-label">
					Contact
				</div>
				<div class="all-participant-admin all-participant-label">
					Status
				</div>
			</div>

			<% @participants.each_with_index do |participant, i| %>
				<div class="all-participant-row">
					<div class="all-participant-count">
						<%= i+1 %>
					</div>
					<div class="all-participant-name">
						<%= link_to edit_participant_path(participant.id), remote: true do %>
							<%= participant.name %>
						<% end %>
					</div>
					<div class="all-participant-email">
						<%= participant.email %>
					</div>
					<div class="all-participant-contact">
						<%= participant.phone_num %>
					</div>
					<div class="all-participant-status">
						<% if participant.proposal.nil? %>
							<% if participant.team_member.nil? %>
								No Team
							<% else %>
								In Team
							<% end %>
						<% else %>
							Leader
						<% end %>
					</div>
				</div>
			<% end %>

		</div>

		<div class="all-team panel-shadow">
			<div class="all-team-title-row">
				<div class="all-team-title">
					All Teams and Team Members
				</div>

				<div class="result">
					<%= link_to "Result", results_votes_path, class: "result-link" %>
				</div>
			</div>

			<% count = 1 %>
			<% @proposals.each do |proposal| %>
				<div class="team">
					<div class="all-team-count">
						<%= count %>
					</div>
					<div class="all-team-proposal-title">
						Title: <%= proposal.title %>
					</div>
					<div class="all-team-leader-name">
						Leader: <%= proposal.participant.name %>
					</div>

					<% proposal.team_members.each do |tm| %>
						<div class="all-team-member-name">
							Member: <%= tm.participant.name %>
						</div>
					<% end %>
					
					<% unless proposal.top5 %>
						<%= button_to "Top 5 Team", top5_proposal_path(proposal.id), class: 'top5-btn' %>
					<% end %>

					<% count = count + 1 %>
				</div>
			<% end %>
		</div>
	</div>

</div>