<div class="new-body-container">
	<div class="new-proposal-title">
		Uploading a project...
	</div>

	<%= form_for @project, class: 'new-proposal-form-group' do |f| %>
		<%= f.label :title, class: 'form-label' %>
		<%= f.text_field :title, class: 'form-input' %>

		<%= f.label :description, class: 'form-label' %>
		<%= f.text_area :description, class: 'form-input' %>
		
		<%= f.label :tech, class: 'form-label' %>
		<%= f.text_field :tech, class: 'form-input' %>

		<%= f.radio_button(:theme, 1) %>
		<%= f.label(:theme, "Data") %>

		<%= f.radio_button(:theme, 2) %>
		<%= f.label(:theme, "Education") %>

		<%= f.radio_button(:theme, 3) %>
		<%= f.label(:theme, "Finance") %>

		<%= f.label :documentation, class: 'form-label' %>
		<%= f.file_field :documentation %>

		<%= f.submit 'Upload', class: 'form-submit-button' %>
	<% end %>

</div>