<div class="wrapper">
  <%= image_tag "3doc_logo.png", size: "240x145", alt: "3 Days of Code"%>
  <h3>Hello <%= @participant.name %>,</h3><br>

  <div>We would like to inform you that your leaving request ( leaving the team with title of <strong>"<%= @proposal.title %>"</strong> ) has been granted by team leader and you are now free to join other teams or propose your own ideas.</div><br>

  <div>Do checkout the online <%= link_to "platform", "http://hackathon.3daysofcode.org/", target: :_blank %> provided in order to help you to form your team during the Hackathon.</div><br>

  <div>If there are any inquiries or difficulties you are having concerning the event, feel free to reach us  through our 3 Days of Code page on <%= link_to "Facebook", "https://www.facebook.com/3DaysofCode/?ref=br_rs", target: :_blank %> and we will tend to you shortly.</div>
  <br>

  <div>Thank you.</div><br>
  <div>Sincerely, <br>
  Committess of 3 Days of Code<br>
  IT Society<br>
  Multimedia University Cyberjaya</div>
</div>