<div class="wrapper">
  <%= image_tag "3doc_logo.png", size: "240x145", alt: "3 Days of Code"%>
  <h3>Hello <%= @member.name %>,</h3>

  <div>We are glad to inform you that you have been accepted by <strong><%= @leader.name %></strong> to join his hackathon group with title of <strong>"<%= @leader.proposal.title %>"</strong>.</div><br>

  <div>We encourage you to get known with the team leader, <strong><%= @leader.name %></strong> as well as other group members before the hackathon. Do check out other team members' contact info in the online <%= link_to "platform", "http://hackathon.3daysofcode.org/", target: :_blank %> provided.</div><br>

  <div>If there are any inquiries or difficulties you are having concerning the event, feel free to reach us  through our 3 Days of Code page on <%= link_to "Facebook", "https://www.facebook.com/3DaysofCode/?ref=br_rs", target: :_blank %> and we will tend to you shortly.</div><br>

  <div>Shine bright in this hackathon and rocks!!!</div>
  <br>
  <div>Sincerely, <br>
  Committess of 3 Days of Code<br>
  IT Society<br>
  Multimedia University Cyberjaya</div>
</div>

