<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag "3doc_logo.png", size: "240x120", alt: "3 Days of Code"%>
    <h3>Dear <%= @participant.name %>,</h3><br>
    <p>Thank you for joining 3 Days of Code - Hackathon organized by IT Society of MMU Cyberjaya.</p><br>

    <p>For your information, our committees has developed an online platform for you to discover your team members in this hackathon competition. You can either propose your own idea and look for other participants as your team members or request to join other teams via this online platform.</p><br>

    <p>You can access this <%= link_to "platform", login_url %> with your username and password listed below:<br>
       Username  : <%= @participant.name %><br>
       Password  : <%= @password %></p><br>

    <p>Looking forward to seeing you and have a nice day ahead! </p>
    <br>
    <p>Sincerely, <br>
    Too Seng Wei<br>
    Director of 3 Days of Code<br>
    IT Society MMU Cyberjaya.</p>
    
  </body>
</html>