<div class="wrapper">
  <h3>Hello <%= @participant.name %>,</h3><br>
  <div>Thank you for joining 3 Days of Code - Hackathon organized by IT Society of MMU Cyberjaya.</div><br>

  <div>For your information, our committees has developed an online platform for you to discover your team members in this hackathon competition. You can either propose your own idea and look for other participants as your team members or request to join other teams via this online platform.</div><br>

  <div>You can access this <%= link_to "platform", "http://hackathon.3daysofcode.org/", target: :_blank %> with your username and password listed below:<br>
     Email  : <%= @participant.email %><br>
     Password  : <%= @password %></div><br>
  
  <div>If there are any inquiries or difficulties you are having concerning the event, feel free to reach us through our 3 Days of Code page on <%= link_to "Facebook", "https://www.facebook.com/3DaysofCode/?ref=br_rs", target: :_blank %> and we will tend to you shortly.</div><br>
  
  <div>Looking forward to seeing you and have a nice day ahead! </div>
  <br>
  <div>Sincerely, <br>
  Committees of 3 Days of Code<br>
  IT Society<br>
  MMU Cyberjaya.</div>
</div>
