<div class="wrapper">
  <%= image_tag "3doc_logo.png", size: "240x145", alt: "3 Days of Code"%>
  <h3>Hello <%= @leader.name %>,</h3><br>

  <div>We are glad to inform you that one of our participants, <strong><%= @participant.name %></strong> requested to join your team.</div><br>

  <div>We encourage you to have discussion with <strong><%= @participant.name %></strong> personally before accepting or rejecting his/her request on joining your group. Do check out his/her contact info in the online <%= link_to "platform", "http://hackathon.3daysofcode.org/", target: :_blank %> provided.</div><br>

  <div>Hope that you can find your team members and shine bright in this hackathon. If there are any inquiries or difficulties you are having concerning the event, feel free to reach us through our 3 Days of Code page on <%= link_to "Facebook", "https://www.facebook.com/3DaysofCode/?ref=br_rs", target: :_blank %> and we will tend to you shortly.</div>
  <br>

  <div>Thank you.</div><br>
  <div>Sincerely, <br>
  Committess of 3 Days of Code<br>
  IT Society<br>
  Multimedia University Cyberjaya</div>
</div>