<div class="body-container" id="body-container">
	<div class="middle-panel">
		<% if eligible_to_propose_topic? %>
			<div class="new-proposal panel-shadow">
				<%= button_to "Propose a New Topic", new_proposal_path, method: :get, remote: true, class: 'new-proposal-btn', id: 'new-proposal-btn' %>
			</div>
		<% end %>

		<div class="proposal-wrapper panel-shadow">
			<% @proposals.each do |proposal| %>
				<div class="proposal">
					<div class="image-wrapper">
						<% if proposal.theme == 1 %>
							<%= image_tag "dataicon.png", class: "theme-icon" %>
						<% elsif proposal.theme == 2 %>
							<%= image_tag "educationicon.png", class: "theme-icon" %>
						<% elsif proposal.theme == 3 %>
							<%= image_tag "financeicon.png", class: "theme-icon" %>
						<% end %>
					</div>
					<div class="content-wrapper">
						<div class="proposal-title">
							<%= proposal.title %>
						</div>
						<% if proposal.theme == 1 %>
							<div class="proposal-theme-1">Theme: Data</div>
						<% elsif proposal.theme == 2 %>
							<div class="proposal-theme-2">Theme: Education</div>
						<% elsif proposal.theme == 3 %>
							<div class="proposal-theme-3">Theme: Finance</div>
						<% end %>
						<div class="proposal-description" %>
							<%= proposal.description %>
						</div>
						<div class="proposal-tech">
							Technology Applied: <%= proposal.tech %>
						</div>
						<div class="proposal-status">
							<% if proposal.status %>
								Status: Available (<%= proposal.team_members.count + 1 %>/4)
							<% else %>
								Status: Team Full
							<% end %>
						</div>
						<div class="proposal-btn">
							<% if correct_proposal_participant proposal %>
								<%= button_to "Edit", edit_proposal_path(proposal), method: "get", remote: true, class: 'proposal-edit' %>
							<% end %>
							<% if eligible_to_join?(proposal) %>
								<%= render 'pendings/request_to_join', proposal_id: proposal.id %>
							<% end %>
							<% if in_pending?(proposal) %>
								<% if pending? proposal.pendings.find_by(participant_id: current_participant.id) %>
									<%= render 'pendings/cancel_request', proposal_id: proposal.id %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	
	<div class="right-panel">
		<% if has_proposal? %>
			<%= render 'participants/leader_panel' %>
		<% else %>
			<%= render 'participants/member_panel' %>
		<% end %>

		<%= render 'team_members/team_panel' if in_team? || is_leader? %>
	</div>
</div>
