<div class="left-panel">
	<div class="personal data">
		<div class="name">
			Name: <%= @participant.name %>
		</div>
		<div class="email">
			Email: <%= @participant.email %>
		</div>
		<div class="phone-num">
			Contact Number: <%= @participant.phone_num %>
		</div>
	</div>

	<div class="edit-link">
		<%= link_to "Edit Profile", edit_participant_path(@participant) %>
	</div>
</div>

<div class="middle panel">
	<div class="proposal">
		<% @proposals.each do |proposal| %>
			<div class="proposal-title">
				<%= proposal.title %>
			</div>
			<div class="proposal-description" %>
				<%= proposal.description %>
			</div>
			<div class="proposal-status">
				<% if proposal.status %>
					Status: Available
				<% else %>
					Status: Not Available
				<% end %>
			</div>
			<% if correct_proposal_participant proposal %>
				<%= link_to "(edit)", edit_proposal_path(proposal) %>
				<% unless proposal.has_member? %>
					<%= link_to "(delete)", proposal_path(proposal), method: :delete %>
				<% end %>
			<% end %>
			<% if eligible_to_join?(proposal) %>
				<%= render 'pendings/request_to_join', proposal_id: proposal.id %>
			<% end %>
			<% if in_pending?(proposal) %>
				<% if pending? proposal.pendings.find_by(participant_id: current_participant.id) %>
					<%= render 'pendings/cancel_request', proposal_id: proposal.id %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<% if has_proposal? %>
	<%= render 'participants/leader_panel' %>
<% else %>
	<%= render 'participants/member_panel' %>
<% end %>

<%= render 'team_members/team_panel' if in_team? || is_leader? %>
