<div class="container">
	<div class="title">
		Getting your proposed topics ready...
	</div>

	<%= form_for @proposal, class: 'form-group' do |f| %>
		<%= f.label :title, class: 'form-label' %>
		<%= f.text_field :title, class: 'form-input' %>

		<%= f.label :description, class: 'form-label' %>
		<%= f.text_area :description, class: 'form-input' %>

		<%= f.radio_button(:theme, 1) %>
		<%= f.label(:theme, "Theme 1") %>

		<%= f.radio_button(:theme, 2) %>
		<%= f.label(:theme, "Theme 2") %>

		<%= f.radio_button(:theme, 3) %>
		<%= f.label(:theme, "Theme 3") %>

		<%= f.submit 'Propose', class: 'form-submit-button' %>
	<% end %>

</div>