<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag '3doc_logo.ico' %>
    <title>ITS-3doc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700|Lato" rel="stylesheet">
  </head>

  <body class="main-page-body">
  	<div class="navbar">
      <button type="button" class="small-screen-btn" id="small-screen-btn"><span class="glyphicon glyphicon-stats"></span></button>
	    <%= image_tag "3doc_logo.png", alt: "3 Days of Code", class: "navbar-logo-img" %>
	    <% if logged_in? %>
        <%= button_to logout_path, method: 'delete', class: 'logout-btn' do %>
          <span class="glyphicon glyphicon-log-out"></span><span class="logout-word">Logout</span>
        <% end  %>
	    <% end %>
  	</div>
    <%= yield %>
  </body>
  <footer>
    For more information, feel free to contact us at 3daysofcode@gmail.com
  </footer>
</html>
